.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin: 0 0 0 0;
  color: #fff;
  border:none;
}

.react-tabs__tab--selected {
  color: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #000;
}