.Home {
  height: 100vh;
  width: 100%;
  background: #000;
}

.Card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Position {
  text-align: center;
  margin: 30px;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 10px #03a9f4;
}

.modal {
  text-align: center;
  height: 350px;
  width: 350px;
  padding: 25px;
  color: #fff;
  background-color:rgba(0,0,0,0.9);
  transform: translate(calc(50vw - 50%),calc(50vh - 50%));
}

.modal-userName {
  text-shadow: 0 0 10px #03a9f4;
}

.modal h3 {
  margin-top: 15px;
}

.modal .work-btn {
  display: flex;
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  color: #fff;
}

.modal .modal-close {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} 